<!DOCTYPE html>
<html>
<head>
    <head>
        <link
                rel="stylesheet"
                href="https://unpkg.com/@corbado/web-js@2.6.0/dist/bundle/index.css"
        />
        <script src="https://unpkg.com/@corbado/web-js@2.6.0/dist/bundle/index.js"></script>
    </head>
</head>
<body>

<div>
    <h1>User profile:</h1>
    <p>Email: <%= email %></p>
    <p>Name: <%= cboId %></p>
    <button id="logoutButton">
        Logout
    </button>
</div>

<script type="module">
    await Corbado.load({
        projectId: "<%= process.env.PROJECT_ID %>",
        setShortSessionCookie: true
    });

    document.getElementById("logoutButton").addEventListener("click", async () => {
        await Corbado.logout()
        window.location.href = "/"
    })
</script>
</body>
</html>
